:root {
  --primary: #f36f37f36f37;
  --secondary: #ffdf00;

  --avocado: #4b8105;
  --red: #fe0000;

  --bright-gray: #eeeeee;
  --cultured: #f5f5f5;
  --granite-gray: #666666;
  --dark-charcoal: #333333;
  --raisin-black: #222222;

  --black: #000000;
  --white: #ffffff;
}
