@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;900&display=swap");
:root {
  --primary: #0046be;
  --secondary: #ffdf00;
  --avocado: #4b8105;
  --red: #fe0000;
  --bright-gray: #eeeeee;
  --cultured: #f5f5f5;
  --granite-gray: #666666;
  --dark-charcoal: #333333;
  --raisin-black: #222222;
  --black: #000000;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
  background-color: #ffffff;
}

textarea,
input {
  border: none;
  width: 100%;
}
textarea:focus,
input:focus {
  outline: none;
}

button {
  border: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

button {
  background-color: transparent;
  cursor: pointer;
}
button:focus {
  outline: none;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

header {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
header .navbar .logo {
  max-width: 200px;
}
header .navbar .search-bar {
  flex: 1;
}
header .navbar .search-bar form {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  position: relative;
}
header .navbar .search-bar form .form-control {
  padding: 12px;
  background-color: #f5f5f5;
  border: none;
  color: #666666;
  font-weight: 400;
}
header .navbar .search-bar form .form-control input {
  background-color: #f5f5f5;
}
header .navbar .search-bar form .search-button button {
  background-color: #f36f37;
  color: #ffffff;
  border-radius: 0px 4px 4px 0px;
  height: 100%;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}
header .navbar .search-bar form .search-button button:hover {
  background-color: #ffdf00;
  color: #000000;
}
header .navbar .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar .navbar-nav li.user a {
  display: inline-block;
  padding: 12px 20px;
  margin-right: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.15s;
}
header .navbar .navbar-nav li.user a i {
  font-size: 24px;
  margin-right: 8px;
}
header .navbar .navbar-nav li.user a:hover {
  color: #222222;
  background-color: #eeeeee;
}
header .navbar .navbar-nav li.logout button {
  background-color: #f36f37;
  color: #ffffff;
  padding: 12px 20px;
  border-radius: 4px;
  transition: all 0.15s;
}
header .navbar .navbar-nav li.logout button:hover {
  background-color: #ffdf00;
  color: #000000;
}

#product {
  margin: 48px 0px;
}
#product .table-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#product .table-header .add-button {
  background-color: #f36f37;
  color: #ffffff;
  transition: all 0.15s;
  border-radius: 4px;
  width: 40px;
  height: 40px;
}
#product .table-header .add-button:hover {
  background-color: #ffdf00;
  color: #000000;
}
#product .modal .modal-dialog {
  max-width: 650px;
  margin: 1.75rem auto;
}
#product .modal .modal-dialog .modal-content .modal-body form#modal-add-product-form {
  display: flex;
  flex-direction: column;
  gap: 16px 0px;
}
#product .modal .modal-dialog .modal-content .modal-body form#modal-add-product-form .form-group-upload-image .preview-image {
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  padding-top: 24px;
}
#product .product-list-wrapper .product-list {
  gap: 16px 0;
}
#product .product-list-wrapper .product-list .product-item-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
#product .product-list-wrapper .product-list .product-item-card .product-image {
  padding: 16px;
  height: 260px;
  width: 100%;
  border-radius: 4px;
}
#product .product-list-wrapper .product-list .product-item-card .product-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
#product .product-list-wrapper .product-list .product-item-card .product-infor {
  padding: 16px;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#product .product-list-wrapper .product-list .product-item-card .product-infor .product-name {
  font-size: 20px;
  text-transform: capitalize;
  color: #f36f37;
  margin: 0;
}
#product .product-list-wrapper .product-list .product-item-card .product-infor .product-description {
  margin-bottom: 0;
  color: #666666;
  font-size: 12px;
}
#product .product-list-wrapper .product-list .product-item-card .product-infor .product-price {
  font-weight: 500;
  color: #f36f37;
  font-size: 20px;
}
#product .product-list-wrapper .product-list .product-item-card .setting-buttons button {
  border-radius: 0px;
}
#product .product-list-wrapper .product-loading {
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
}

#profile {
  margin: 48px 0px;
}
#profile .row .avatar-col .file {
  display: none;
}
#profile .row .avatar-col .image-container {
  max-width: 160px;
  height: 160px;
  display: block;
  border: 0.75px solid #222222;
  border-radius: 50%;
}
#profile .row .avatar-col .image-container #profile-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#profile .row .info-col {
  padding: 24px;
  border: 0.75px solid #222222;
  border-radius: 4px;
}
#profile .row .info-col #profile-form .form-group .form-field {
  border: 0.75px solid #222222;
}

@media all and (max-width: 992px) {
  header .navbar .search-bar {
    flex: 1;
  }
  header .navbar .search-bar form {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }
  header .navbar .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 16px 0px;
  }
  header .navbar .navbar-nav .user {
    padding: 12px 20px;
    margin-right: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.15s;
  }
  header .navbar .navbar-nav .user i {
    font-size: 24px;
    margin-right: 8px;
  }
  header .navbar .navbar-nav .user:hover {
    background-color: #eeeeee;
  }
  header .navbar .navbar-nav .logout button {
    background-color: #f36f37;
    color: #ffffff;
    border-radius: 4px;
    transition: all 0.15s;
  }
  header .navbar .navbar-nav .logout button:hover {
    background-color: #ffdf00;
    color: #000000;
  }
  #product .product-table .table tbody tr td .setting-buttons .update-button {
    margin-bottom: 8px;
  }
  #product .product-table .table tbody tr td .product-image {
    max-width: 250px;
    height: 115px;
  }
}
@media (max-width: 992px) and (max-width: 479px) {
  #product .product-table .table tbody tr td .product-image {
    min-width: 120px;
  }
}
@media all and (max-width: 768px) {
  #product .product-table .table tbody tr td .setting-buttons .update-button {
    margin-bottom: 16px;
  }
}
.primary-button {
  background-color: #f36f37;
  color: #ffffff;
  border-radius: 4px;
  transition: all 0.15s;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary-button:hover {
  background-color: #ffdf00;
  color: #000000;
}

.secondary-button {
  background-color: #000000;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.15s;
}
.secondary-button:hover {
  background-color: #ffdf00;
  color: #000000;
}

#shipper-registration {
  max-width: 980px;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#shipper-registration .row {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
#shipper-registration .row .image-col {
  padding: 0;
}
#shipper-registration .row .image-col .intro-img {
  background-image: url(../assets/shipper-registration-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px 0px 0px 4px;
  height: 100%;
}

#vendor-registration {
  max-width: 980px;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#vendor-registration .row {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin: 0 auto;
}
#vendor-registration .row .image-col {
  padding: 0;
}
#vendor-registration .row .image-col .intro-img {
  background-image: url(../assets/registration-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px 0px 0px 4px;
  height: 100%;
}

#customer-registration {
  max-width: 980px;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#customer-registration .row {
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin: 0 auto;
}
#customer-registration .row .image-col {
  padding: 0;
}
#customer-registration .row .image-col .intro-img {
  background-image: url(../assets/customer-registration-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px 0px 0px 4px;
  height: 100%;
}
#customer-registration .row .form-col {
  height: 100%;
}
#customer-registration .row .form-col form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-col {
  padding: 42px 24px;
}
.form-col h1 {
  font-size: 32px;
}
.form-col h2 {
  font-size: 20px;
  font-weight: 400;
}

form .form-group {
  padding-bottom: 24px;
  position: relative;
}
form .form-group .error-message {
  position: absolute;
  bottom: 2px;
  left: 0;
  font-size: 15px;
}

form .form-group .form-field {
  font-family: inherit;
  width: 100%;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  outline: 0;
  font-size: 16px;
  color: #222222;
  padding: 6px 12px;
  background: transparent;
  transition: all 0.2s;
}
form .form-group .form-field::-moz-placeholder {
  color: transparent;
}
form .form-group .form-field::placeholder {
  color: transparent;
}
form .form-group .form-field:-moz-placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
form .form-group .form-field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

form .form-group .form-label {
  display: block;
  transition: 0.2s;
  font-size: 16px;
  color: #666666;
}

form .form-group .form-field:focus {
  border-width: 1px;
  border-color: #f36f37;
}
form .form-group .form-field:focus ~ .form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 14px;
  color: #f36f37;
}

form .form-group .form-field:required, form .form-group .form-field:invalid {
  box-shadow: none;
}

.primary-button {
  background-color: #f36f37;
  color: #ffffff;
  border-radius: 4px;
  transition: all 0.15s;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary-button:hover {
  background-color: #ffdf00;
  color: #000000;
}

.back-button {
  top: 42px;
  left: 12px;
  background-color: #f36f37;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 150ms;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 12px;
}
.back-button:hover {
  background-color: #ffdf00;
  color: #222222;
}

#order {
  padding-top: 40px;
  background: #f5f5f5;
  min-height: calc(100vh - 40px);
}
#order .hub-infor {
  padding-bottom: 16px;
}
#order .order-loading {
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
}

.line-break {
  width: 100%;
  height: 1px;
  background-color: #666666;
}

.return-badge {
  margin-top: 8px;
  font-size: 12px;
  padding: 2px;
  border: 1px solid #f36f37;
  font-weight: 500;
  color: #f36f37;
  border-radius: 4px;
  text-align: center;
  max-width: -moz-max-content;
  max-width: max-content;
}

.badge-group {
  display: flex;
  align-items: center;
  gap: 0 8px;
  margin-bottom: 16px;
}

.badge {
  text-transform: capitalize;
}
.badge.active {
  background-color: green;
}
.badge.delivered {
  background-color: cornflowerblue;
}
.badge.canceled {
  background-color: #fe0000;
}
.badge.mall {
  background-color: #f36f37;
}

.order-item {
  background-color: #ffffff;
  padding: 16px;
  margin-bottom: 24px;
}
.order-item:last-child {
  margin-bottom: 0;
}
.order-item .order-header {
  padding: 16px 16px 0px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-item .order-customer {
  padding: 16px;
}
.order-item .order-products {
  padding: 0px 16px 16px 16px;
}
.order-item .order-products .product-infor {
  padding: 16px 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
}
.order-item .order-products .product-infor:last-child {
  border-bottom: none;
}
.order-item .order-products .product-infor .product-other-infor {
  display: flex;
  flex: 1;
}
.order-item .order-products .product-infor .product-other-infor .product-image {
  max-width: 100px;
  height: 100px;
  width: 100%;
  margin-right: 12px;
  flex-shrink: 0;
  border: 0.75px solid #666666;
}
.order-item .order-products .product-infor .product-other-infor .product-image img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.order-item .order-products .product-infor .product-other-infor .product-quantity .name {
  margin-bottom: 0px;
  max-width: 250px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.order-item .order-products .product-price {
  color: #f36f37;
  text-align: right;
}
.order-item .order-price {
  text-align: right;
  padding: 16px;
}
.order-item .order-price .total-price {
  font-size: 24px;
  font-weight: 500;
  color: #f36f37;
}
.order-item .order-price .button-group {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 0 16px;
}
.order-item .order-price .button-group .view-detail-btn {
  margin-left: auto;
  margin-top: 16px;
}

.select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}
.select-wrapper .spinner.status-spinner {
  margin-right: 8px;
  visibility: hidden;
  opacity: 0;
}
.select-wrapper #chevron-arrow-select {
  position: absolute;
  color: #ffffff;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.select-wrapper select#order-status {
  cursor: pointer;
  background-color: #f36f37;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 120px;
  height: 42px;
  padding: 0px 12px;
}

footer {
  background-color: #f5f5f5;
  color: #0f136d;
  font-size: 12px;
  padding: 32px 0px;
}
footer .promotion-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 48px;
}
@media (max-width: 479px) {
  footer .promotion-banner .banner-image {
    width: 100%;
  }
}
@media (max-width: 479px) {
  footer .promotion-banner {
    flex-direction: column;
  }
}
footer .footer-cols .column {
  padding-bottom: 16px;
}
footer .footer-cols .column .col-header {
  text-transform: uppercase;
  font-size: 16px;
}
footer .footer-cols .column .app-promotion {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 16px;
}
footer .footer-cols .column .app-promotion .logo-wrapper {
  max-width: 40px;
}
footer .footer-cols .column .app-promotion .text-promotion .slogan {
  font-size: 16px;
  color: #f36f37;
  display: block;
}
footer .footer-cols .column .social-media-apps {
  display: flex;
  flex-wrap: wrap;
}
footer .footer-cols .column .social-media-apps .app-item {
  width: 50%;
  max-width: 150px;
  padding: 0 8px 8px 0;
}/*# sourceMappingURL=main.css.map */