#cart-list .cart-list {
  gap: 24px 0px;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
}

#cart-list .cart-list .cart-item {
  border-bottom: 1px solid var(--bright-gray);
  padding-bottom: 16px;
}

#cart-list .cart-list .cart-item:last-child {
  border-bottom: none;
}

.cart-list .cart-item .product-image {
  height: 120px;
  max-width: 200px;
  width: 100%;
}

.cart-list .cart-item .quantity-adjust {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.cart-list .cart-item .quantity-adjust .quantity-input {
  max-width: 30px;
  text-align: center;
  margin: 0px 12px;
}

.cart-list .cart-item .product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart-list .cart-item .product-infor {
  padding-left: 20px;
  flex: 1;
}

.cart-list .cart-item .product-infor .item-name {
  font-size: 16px;
  font-weight: 500;
}
.cart-list .cart-item .product-infor .item-price {
  font-size: 20px;
  color: var(--primary);
  font-weight: 500;
}

.total-price {
  max-width: 920px;
  margin: 0 auto;
  text-align: right;
  border-top: 1px solid var(--bright-gray);
  padding-top: 12px;
}

.total-price .price-value {
  color: var(--primary);
  font-size: 28px;
  font-weight: 500;
}
