@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;900&display=swap");

:root {
  --primary: #0046be;
  --secondary: #ffdf00;

  --avocado: #4b8105;
  --red: #fe0000;

  --bright-gray: #eeeeee;
  --cultured: #f5f5f5;
  --granite-gray: #666666;
  --dark-charcoal: #333333;
  --raisin-black: #222222;

  --black: #000000;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
  // @include styleText($fs-1, $fw-1, $secondary);
  background-color: $white;
}

textarea,
input {
  border: none;
  width: 100%;
  &:focus {
    outline: none;
  }
}

button {
  border: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

button {
  background-color: transparent;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
