:root {
  --primary: #0046be;
  --secondary: #ffdf00;

  --avocado: #4b8105;
  --red: #fe0000;

  --bright-gray: #eeeeee;
  --cultured: #f5f5f5;
  --granite-gray: #666666;
  --dark-charcoal: #333333;
  --raisin-black: #222222;

  --black: #000000;
  --white: #ffffff;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #ffffff !important;
}
.user_card {
  min-height: 420px;
  max-width: 400px;
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  color: #ffffff;
}
.brand_logo_container {
  position: absolute;
  height: 120px;
  width: 120px;
  top: -75px;
  border-radius: 50%;
  background: var(--primary);
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.brand_logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid white;
}

.login_btn {
  width: 100%;
  background: var(--primary) !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.error_msg {
  font-size: 15px;
  margin-bottom: 5px;
  color: #f74040;
  display: none;
}
.input-field {
  display: flex;
}
.input-group-text {
  background: var(--primary) !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
  height: 100%;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--primary) !important;
}
a {
  color: #a8a8a6;
}
.form_container p {
  font-size: 15px;
  color: var(--primary);
  visibility: hidden;
}

.login-footer .links span {
  color: var(--primary);
}

.error-message {
  color: transparent;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
}
